.card-container{
  background-color: rgba(12, 12, 12, 0.636);
  display: flex;
  flex-direction: column;
  width: 13rem;
  border-radius: 0.3rem;
  padding: 1rem;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  margin-right: 50px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem;

}

.play-icon{
    position: absolute;
    cursor: pointer;
    top: 45%;
    right: 12%;
    transform: translateY(10px);
    filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.4));
    opacity: 0;
    transition: all 0.4s;

}

.card-container:hover .play-icon{
    opacity: 1;
    transform: translateY(0);
}

.card-container:hover{
    background-color: #222;
}

.circle{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $green-primary;
    display: grid;
    place-items: center;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid black;
    transform: rotate(90deg);
    margin-left: 0.2rem;
}

.play-icon:hover .circle{
    cursor: auto;
    transform: scale(1);
}
.card-text{
    
    margin-top: 1rem;
    line-height: 1;
}
.card-text h2{
    font-size: 1.2rem;
    color: white;
}

.card-text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: gray;
}

.card-ep-container{
    background-color: rgba(12, 12, 12, 0.636);
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.3rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
    margin-right: 50px;
}
.card-ep-container img{
    max-width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    padding: 5px;
    border-radius: 2px;
}
.card-ep-text{
    
    margin-top: 1rem;
    line-height: 1;
}
.card-ep-text h2{
    font-size: 1.2rem;
    color: white;
}

.card-ep-text p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 500;
    color: gray;
}