.home-content{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, $top-grad -50%, $black 25%);
    height: 100%;
    padding-left: 30px;
    padding-top: 12px;
    overflow-y: scroll;
} 

.recommended-content{
    margin-top: 40px;
    display: flex;
    place-items: center;
    flex-direction: row;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . . . "
          ". . . . . ";
      

}