.navbar{
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: 100vw;
    height: 30px;
}