
.sidebar{
    background-color:black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 20px;
    padding-right: 10px;
    width: 240px;
    overflow-y: auto;

}

.img-logo{
    margin-top: 10%;
    height: auto;
    width: 60%;
}
.menu-items {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 0px;
    line-height: 26px;
    font-size: 14px;

}
.li-item{
    margin-top: 20px;
}

.icon-item{
    margin-right: 20px;
    height: 22px;
}