* {
    font-family: 'Nunito', sans-serif !important;
    margin: 0px;
    user-select: none;

    &::-webkit-scrollbar {
        height: .8em;
        width: .8em;
    }
    
    &::-webkit-scrollbar-track {
        background: white;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}
html, body {
    height: 100vh;
    width: 100vw; 
}

main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.3);
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: hsla(0,0%,100%,.5);
  }
  ::-webkit-scrollbar-thumb:active {
    background: hsla(0,0%,100%,.5);
  }
.main-content{
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
}
h3{
    color: white;
    font-weight: bold;
}
